<!-- Bootstrap core JavaScript-->
<script src="/jquery.min.js"></script>
<script src="/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/admin.min.js"></script>

<script src="/main-bundled.js"></script>

</body>

</html>
