
<footer class="footer-area">
  <!-- Main Footer Area -->
<!-- views/partials/footer.ejs -->
<!-- Main Footer Area -->
<div class="main-footer bg-img bg-overlay section-padding-80-0" style="background-image: url(img/bg-img/3.jpg);">
<div class="container">
  <div class="row justify-content-center">

    <!-- Single Footer Widget Area -->
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="footer-widget mb-80">
        <a href="#" class="foo-logo d-block mb-30"><img src="img/core-img/logo2.png" alt="AHAIFARMS NIGERIA" title="AHAIFARMS NIGERIA" width="150px" height="50px"></a>
        <p>AHAIFARMS is an indigenous company with a deep understanding of the needs and challenges of the Nigerian farmers.</p>
        <div class="contact-info">
          <p><i class="fa fa-map-pin" aria-hidden="true"></i><span>Lagos, Nigeria</span></p>
          <p><a href="mailto:contact@AHAIFARMS.COM" style="text-decoration: none; color:#E0DEDC;"><i class="fa fa-envelope" aria-hidden="true"></i><span>contact@AHAIFARMS.COM</span></a></p>
          <p><a href="tel:+2348037122949" style="text-decoration: none; color:#E0DEDC;" ><i class="fa fa-phone" aria-hidden="true"></i><span>+2348037122949</span></a></p>
        </div>
      </div>
    </div>

    <!-- Single Footer Widget Area -->
   

    <!-- Single Footer Widget Area -->
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="footer-widget mb-80">
        <h5 class="widget-title">STAY CONNECTED</h5>
        <!-- Footer Social Info -->
        <div class="footer-social-info">
          <a href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <span>Facebook</span>
          </a>
          <a href="#">
            <i class="fa fa-telegram" aria-hidden="true"></i>
            <span>Telegram</span>
          </a>
          <a href="#">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
            <span>Whatsapp</span>
          </a>
          <a href="https://www.instagram.com/AHAIFarmsng">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <span>Instagram</span>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
</div>


<div class="copywrite-area">
<div class="container">
  <div class="copywrite-text">
    <div class="row align-items-center">
      <div class="col-md-6">
        <p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  Designed and Managed by <a href="https://nextwebb.com.ng" target="_blank">Nextwebb Devs</a>

</p>
      </div>
      <div class="col-md-6">
        <div class="footer-nav">
          <nav>
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/farming-practice">Practice</a></li>
              <li><a href="/products">Products</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</footer>


  <!-- ##### Footer Area End ##### -->

  <!-- ##### All Javascript Files ##### -->
  <!-- jquery 2.2.4  -->
  <script src="js/jquery.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Owl Carousel js -->
  <script src="js/owl.carousel.min.js"></script>
  <!-- Classynav -->
  <script src="js/classynav.js"></script>
  <!-- Wow js -->
  <script src="js/wow.min.js"></script>
  <!-- Sticky js -->
  <script src="js/jquery.sticky.js"></script>
  <!-- Magnific Popup js -->
  <script src="js/jquery.magnific-popup.min.js"></script>
  <!-- Scrollup js -->
  <script src="js/jquery.scrollup.min.js"></script>
  <!-- Jarallax js -->
  <script src="js/jarallax.min.js"></script>
  <!-- Jarallax Video js -->
  <script src="js/jarallax-video.min.js"></script>
  <!-- Active js -->
  <script src="js/active.js"></script>
  
 
</body>

</html>