
  <%- include('includes/admin_header') %>
    <!-- Content Wrapper -->
    <%= //console.log(token)  %> 
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
          <%- include('./includes/flash') %>
                     
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

           <!-- Topbar Navbar -->
           <ul class="navbar-nav ml-auto">
              <div class=" p-3 mb-5 bg-white rounded">
                  <p id= user class="font-weight-bold">
                    <% user %>
                  </p>
              </div>
          </ul>

         
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" id="siteProfile" >
          <form @submit.prevent="updateSiteProfile">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <button  href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm ">
               Update Site Content
            </button>
          </div>

          

          <div v-if="siteProfile">

            <div v-if="feedbackErr" class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Email sent!</strong> AHAIFARMS will contact you shortly.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
  
            <div  v-if="feedbackSucc" class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Try Again later!</strong> You should check in on some of those fields below.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Farm services Description</h6>
                

                </div>
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ">
                        <textarea class="form-control overflow-hidden jumboText" name="sitetitle" aria-label="With textarea" v-model="siteProfile.sitetitle">
                          
                        </textarea>

                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class=" col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Farm Products Description</h6>
                

                </div>
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        <textarea class="form-control overflow-hidden motto" name="smalltext" aria-label="With textarea" v-model="siteProfile.smalltext">
                        </textarea>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

            </div>

            

            <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">About</h6>
                

                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <textarea class="form-control overflow-hidden about" name="about" rows="10" cols="50" aria-label="With textarea" v-model="siteProfile.about" ></textarea>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Contact Details</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <div class="form-group">
                      <label for="phone">Phone:</label>
                      <input type="text" name="phone" class="form-control" v-model="siteProfile.contacts.phone">
                    </div>
                    <div class="form-group">
                      <label for="email">Email:</label>
                      <input type="text" name="email" class="form-control"  v-model="siteProfile.contacts.email">
                    </div>
                    <div class="form-group">
                      <label for="Address">Address:</label>
                      <input type="text" name="address" class="form-control" v-model="siteProfile.contacts.Address">
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row" v-if="services">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Services</h6>
                </div>
                <div class="card-body">

                      <ul class="list-group">
                        <li  class="list-group-item" v-for="(service, index) in services" >
                          <div class="input-group mb-3" >
                            <input type="text" name="service" disabled class="form-control" v-bind:value="service" :key="index">
                          </div>
                        </li>
                       
                      </ul>

                  
                </div>
              </div>

              <!-- Color System -->
             

            </div>

            <div class="col-lg-6 mb-4" v-if="siteProfile">

              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">AHAIFARMS LOGO</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" v-bind:src="siteProfile.logo" alt="AHAIFARMS LOGO">
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </form>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <%- include('includes/admin_footer') %>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script>

            var app = new Vue({
              el: '#siteProfile',
              data: {
                siteProfile: null,
                services: [], 
                feedbackSucc: null,
                feedbackErr: null
              },
            async created () {
               await fetch('/api/v1/services/viewAllServices')
              .then((resp) => resp.json()) 
              .then(data => {
               //console.log(data)
                  data.forEach(doc => {
                    this.services.push(doc.name) 
                    
                  })
              })


                await fetch('/api/v1/site-profile/viewAllSitedata')
              .then((resp) => resp.json()) 
              .then(data => {
                  data.forEach(doc => {
                    this.siteProfile = doc
                  //  console.log(this.siteProfile._id)
                    this.siteProfile.logo = `../${this.siteProfile.logo} `
                                        
                  });
              })

               },

              methods:{
                  async updateSiteProfile() {
                      this.siteProfile = {
                        _id: this.siteProfile._id,
                        about : this.siteProfile.about,
                        contacts: {
                          Address: this.siteProfile.contacts.Address,
                          email: this.siteProfile.contacts.email,
                          phone: this.siteProfile.contacts.phone
                        },
                        sitetitle: this.siteProfile.sitetitle,
                        smalltext: this.siteProfile.smalltext,
                      }
                        await fetch('/api/v1/site-profile/update', {
                          method: 'POST',
                          headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json' 
                          },
                          credentials: 'include',
                          body: JSON.stringify(this.siteProfile)
                        }).then((response)=>{
                          return response.json();
                        }).then(function(feedback) {
                          // this.feedbackSucc = true
                        }).catch(err => {
                          // this.feedbackErr = true
                        } )
                      }
              }
            })

        </script>

